<section class="bg-custom home" id="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center leftbar">
                <div class="home-fullscreen" id="home-fullscreen">
                    <div class="full-screen">
                        <div class="home-wrapper home-wrapper-alt">
                            <h1 class="major">404</h1>
                            <h1 class="font-light text-white">You tried finding but you lost the page</h1>
                            <h4 class="text-light">The best way out or connecting people with their lost and found things yet <br /> Designed for helping and putting the things where they belong.</h4>
                            <a href="../" class="btn btn-white-bordered get_started">Go Home</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
